[user]
  name = Sam Hogarth

[alias]
  whoops = commit --amend --no-edit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  slg = lg -n 5
  recent = branch --sort=committerdate
  trash = reflog
  showf = show --pretty="" --name-only
  pushu = !git push -u origin $(git symbolic-ref --short HEAD)
  pushf = push -f

[rebase]
  abbreviateCommands = true

[core]
  excludesfiles = ~/.gitignore
  pager = cat
